.myName{
    font-family: 'Libre Baskerville', serif;  
    text-transform: uppercase;
    text-align: center;
}

.favImages{
    display:flex;
   justify-content: space-around;
}

body{
    width: 100%;  
}

img{
 width: 300px;
 height: 250px;
 border-radius: 4px;
}

.middleImg{
    border: 2px solid blueviolet;
    border-radius: 0;
}

li{
    font-family: 'Cabin', sans-serif;
}

a:active{
    color: blue;

}
a{
    color:orange;
}
a:hover{
    color:aquamarine;
}

button{
     cursor: pointer;
     padding: 8px;
     color: white;
     background-color: blue;
    

}
button:hover{
    background-color: darkblue;
}

.buttonContainer {
display: flex;
justify-content: center;
}